<div class = "container">
    <div class = "modal-body row">
        <div class = "pe-3 col-md-10">
            <!-- first column -->
            <table class = "table table-borderless" id="artistTable">
                <tbody>
                </tbody>
            </table>

            <table class = "table table-borderless" id="songTable">
                <tbody>
                </tbody>
            </table>
        </div>

        <div class = "col-md-2 px-1">
            <!-- second column -->
            <h2> Filters </h2>
            <!-- line break here? -->
            <div>
            <form id = "advanced-search-form">
                <div class="pt-2 input-group mb-3">
                    <input type="search" class="form-control" placeholder="Your search begin here..." aria-label="Recipient's username" aria-describedby="button-addon2" name="advancedSearchText">
                    <input class="btn btn-dark" type="submit" id="adv-search-btn" value="Search" />
                </div>
            </form>
            <hr class ="rounded">
            <form id = "categories-form">
                <div>
                    <h5> Categories </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="artistCategory" id="artistCategory">
                        <label class="form-check-label" for="artistCategory">
                            Artist
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="songCategory" id="songCategory">
                        <label class="form-check-label" for="songCategory">
                            Song
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="lyricCategory" id="lyricCategory">
                        <label class="form-check-label" for="lyricCategory">
                            Lyric
                        </label>
                    </div>
                </div>
            </form>
            <hr class ="rounded">
            <form id = "popularity-form">
                <div>
                    <h5> Popularity Range</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name = "popularity" id="zeroToTen" value="zeroToTen">
                        <label class="form-check-label" for="zeroToTen">
                            0-10.0
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name = "popularity" id="tenToTwentyFive" value="tenToTwentyFive">
                        <label class="form-check-label" for="tenToTwentyFive">
                            10.1-25.0
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name = "popularity" id="twentyFiveToFifty" value="twentyFiveToFifty">
                        <label class="form-check-label" for="twentyFiveToFifty">
                            25.1-50.0
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name = "popularity" id="fiftyToSeventyFive" value="fiftyToSeventyFive">
                        <label class="form-check-label" for="fiftyToSeventyFive">
                            50.1-75.0
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name = "popularity" id="seventyFiveandUp" value= "seventyFiveandUp" checked>
                        <label class="form-check-label" for="seventyFiveandUp">
                            75.1+
                        </label>
                    </div>
                </div>
            </form>
            <hr class ="rounded">
            <form id = "top-artists-form">
                <div>
                    <h5> Top 5 Artists </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Ariana Grande" id="ariana">
                        <label class="form-check-label" for="ariana">
                            Ariana Grande
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Lady Gaga" id="gaga">
                        <label class="form-check-label" for="gaga">
                            Lady Gaga
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Maroon 5" id="maroon5">
                        <label class="form-check-label" for="maroon5">
                            Maroon 5
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Eminem" id="eminem">
                        <label class="form-check-label" for="eminem">
                            Eminem
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Queen" id="queen">
                        <label class="form-check-label" for="queen">
                            Queen
                        </label>
                    </div>
                </div>
            </form>
            <hr class ="rounded">
            <form id = "lyrics-form">
                <div>
                    <h5> Lyric Keywords </h5>
                    <!-- REFERENCE: https://wordcounter.net/blog/2017/01/09/102797_most-popular-words-songs.html -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="baby" id="babyKey">
                        <label class="form-check-label" for="babyKey">
                            "Baby"
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="die" id="dieKey">
                        <label class="form-check-label" for="dieKey">
                            "Die"
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="love" id="loveKey">
                        <label class="form-check-label" for="loveKey">
                            "Love"
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="night" id="nightKey">
                        <label class="form-check-label" for="nightKey">
                            "Night"
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="rock" id="rockKey">
                        <label class="form-check-label" for="rockKey">
                            "Rock"
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="time" id="timeKey">
                        <label class="form-check-label" for="timeKey">
                            "Time"
                        </label>
                    </div>
                </div>
            </form>
            <hr class ="rounded">
            <form id = "genre-form">
                <div>
                    <h5> Genres </h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Blues" id="bluesGenre">
                        <label class="form-check-label" for="bluesGenre">
                            Blues
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Country" id="countryGenre">
                        <label class="form-check-label" for="countryGenre">
                            Country
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Folk" id="folkGenre">
                        <label class="form-check-label" for="folkGenre">
                            Folk
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Hardcore" id="hardcoreGenre">
                        <label class="form-check-label" for="hardcoreGenre">
                            Hardcore
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Hip Hop" id="hiphopGenre">
                        <label class="form-check-label" for="hiphopGenre">
                            Hip Hop
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Indie" id="indieGenre">
                        <label class="form-check-label" for="indieGenre">
                            Indie
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Instrumental" id="instrumentalGenre">
                        <label class="form-check-label" for="instrumentalGenre">
                            Instrumental
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Jazz" id="jazzGenre">
                        <label class="form-check-label" for="jazzGenre">
                            Jazz
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="K-Pop" id="kpopGenre">
                        <label class="form-check-label" for="kpopGenre">
                            K-Pop
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="metalGenre" id="metalGenre">
                        <label class="form-check-label" for="metalGenre">
                            Metal
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Pop" id="popGenre">
                        <label class="form-check-label" for="popGenre">
                            Pop
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="R&B" id="rbGenre">
                        <label class="form-check-label" for="rbGenre">
                            R&B
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Rap" id="rapGenre">
                        <label class="form-check-label" for="rapGenre">
                            Rap
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Reggae" id="reggaeGenre">
                        <label class="form-check-label" for="reggaeGenre">
                            Reggae
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Rock" id="rockGenre">
                        <label class="form-check-label" for="rockGenre">
                            Rock
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src = "advancedSearch.js"></script>