
<div class = "card">
    <h5 class = "card-header">
        <div class = "card-title">
            Artist: 
            <!-- arist name here -->
        </div>
    </h5>

    <div class = "card-body">
        <div>
            Popularity: <!-- popularity score goes here -->
        </div>
        <div>
            Genres: <!-- all genres related go here -->
        </div>
        <div>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th scope = "col" colspan = "2"> 
                            Song amount: <!-- song amount goes here -->
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope = "row">
                            #
                        </th>
                        <th>
                            Song
                        </th>
                    </tr>
                    <tr>

                    </tr>
                </tbody>
            </table>
        </div> 
    </div>

    <div class = "card-footer">
        Need more information? Click here!
        <!-- This is where the link goes -->
        <button type = "button" class = "btn btn-secondary">
            Back to results 
        </button>
    </div>
</div>

<script src = ""></script>

