<div class = "card text-center w-50 mx-auto text-dark bg-light">
    <div class = "card-header text-center">
        <h2> Create Account </h2>
    </div>
    <div class = "card-body">
        <div class="mb-3 text-start mx-4">
            First Name
            <input type="text" class="form-control" id="firstName" placeholder="Steven">
        </div>

        <div class="mb-3 text-start mx-4">
            Last Name
            <input type="text" class="form-control" id="lastName" placeholder="Tyler">
        </div>

        <div class="mb-3 text-start mx-4">
            Username
            <input type="text" class="form-control" id="userName" placeholder="AerosmithBand123">
        </div>

        <div class="mb-3 text-start mx-4">
            Age
            <input type="text" class="form-control" id="age" placeholder="73">
        </div>

        <div class="mb-3 text-start mx-4">
            Email Address
            <input type="email" class="form-control" id="email" placeholder="steventyler@aerosmith.com">
        </div>

        <div class="mb-3 text-start mx-4">
            Password
            <input type="text" class="form-control" id="password1" placeholder="ILoveRock&Ro11">
        </div>

        <div class="mb-3 text-start mx-4">
            Re-enter Password
            <input type="text" class="form-control" id="password2" placeholder="ILoveRock&Ro11">
        </div>
        <br>
        <div class="d-grid gap-2 col-8 mx-auto mx-4">
            <button type = "button" class = "btn btn-secondary btn-large" id="userCreate" onclick = "location.href = '/'">
                Create Account!
            </button>
        </div>
    </div>
</div>
<br>
<div class = "text-center pb-4">
    Already have an account?
    <a href="/login"> Click here! </a>
</div>

<script src = "createAccount.js"></script>