

<form id = "basic-search-form">
    <div class="input-group mb-3 input-group-lg mt-3 pt-5 px-5">
        <!-- text search -->
        <input type="search" class="form-control form-control-lg login-form" id = "search-input" placeholder = "Search usernames" aria-label="Text input with dropdown button">

        <!-- submit search button -->
        <button class="btn btn-secondary" type="submit" id="search-btn">
            Search
        </button>
    </div>
</form>

<div class = "px-5">
    <table class = "table table-hover table-striped px-5" id = "table">
    </table>
</div>

<script src = "friendsAdd.js"></script>