<div class = "card text-center w-50 mx-auto text-dark bg-light">
    <div class = "card-header">
        <h5 class = "card-title">
            Never say goodbye
        </h5>
    </div>
    <div class = "card-body">
        <div>
            Sorry to see you go! You have been successfully logged out.
        </div>
        <br>
        <button class = "btn btn-secondary" onclick = "location.href = '/'">
            Return home
        </button>
    </div>
</div>