.navbar{
    background-color: rgb(118, 117, 158);
    font-family: 'RocknRoll One', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-size: 30px;
}

table, th, td{
    margin: 50px auto; 
    border-collapse: collapse;
    border: 1px solid #000;
}

th, td{
    padding: 5px; 
}

body {
    background-color:darkgray;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}